$primary_color: black;
$secondary_color: white;
// big title variables

// ************* Primary  ********** //
$primary_font_xs: (
  size: 36px,
  weight: 900,
  family:"Montserrat",
);

$primary_font_sm: (
  size: 36px,
  weight: 900,
  family:"Montserrat",
);


$primary_font_md: (
  size: 38px,
  weight: 900,
  family:"Montserrat",
);

$primary_font_lg: (
  size: 45px,
  weight: 900,
  family:"Montserrat",
);

$primary_font_xl: (
  size: 45px,
  weight: 900,
  family:"Montserrat",
);

$primary_font_xll: (
  size: 55px,
  weight: 900,
  family:"Montserrat",
);
// ************* Primary  ********** //



// ************* secondary  ********** //
$secondary_font_xs:(
  size: 32px,
  weight: 700,
  family:"Montserrat",
);

$secondary_font_sm:(
  size: 32px,
  weight: 700,
  family:"Montserrat",
);

$secondary_font_md:(
  size: 42px,
  weight: 700,
  family:"Montserrat",

);

$secondary_font_lg:(
  size: 48px,
  weight: 700,
  family:"Montserrat",

);

$secondary_font_xl:(
  size: 36px,
  weight: 700,
  family:"Montserrat",

);

$secondary_font_xll:(
  size: 52px,
  weight: 700,
  family:"Montserrat",

);
// ************* secondary  ********** //


// ************ accent *********//
$accent_font_xs: (
  size: 14px,
  weight: 700,
  family:"Montserrat",
);

$accent_font_sm: (
  size: 16px,
  weight: 700,
  family:"Montserrat",
);

$accent_font_md: (
  size: 18px,
  weight: 700,
  family:"Montserrat",
);

$accent_font_lg: (
  size: 18px,
  weight: 700,
  family:"Montserrat",
);


$accent_font_xl: (
  size: 18px,
  weight: 700,
  family:"Montserrat",
);

$accent_font_xll: (
  size: 16px,
  weight: 700,
  family:"Montserrat",
);
// ************ accent *********//


// ************ text *********//

$text_xs:(
  size: 14px,
  weight: 400,
  family:"Montserrat",
);

$text_sm:(
  size: 14px,
  weight: 400,
  family:"Montserrat",
);

$text_md:(
  size: 14px,
  weight: 400,
  family:"Montserrat",
);

$text_lg:(
  size: 14px,
  weight: 400,
  family:"Montserrat",
);


$text_xl:(
  size: 16px,
  weight: 400,
  family:"Montserrat",
);

$text_xll:(
  size: 16px,
  weight: 400,
  family:"Montserrat",
)

// ************ text *********//
